/** {*/
	/*outline: 1px solid red;*/
/*}*/

html, body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans;
}

body {
	background-color: #424242;
}

h1 {
	font-family: serif;
	font-size: 3em;
	font-weight: normal;
}

.container {
	width: 100%;
	height: 1080px;
	display: flex;
}

.menu {
	background-color: #BDBDBD;
	float: left;
	width: 25em;
}

.menu-elements {
	list-style-type: none;
	color: #FAFAFA;
	font-size: 2em;
}

.main {
	width: 100%;
	padding-left: 2em;
	color: white;
}

.areas {
	overflow-x: scroll;
	display: flex;
}

.area {
	border: 1px solid white;
	margin-right: 1em;
	padding: 0.5em 3em;
	font-size: 1.5em;
}

.dashboard {
	margin-top: 1em;
}

.kpi {
	background-color: black;
	padding: 1em;
	width: 250px;
}

.kpi .name {
	font-size: 2em;
}

.kpi .value {
	font-size: 4em;
}

.kpi .success {
	display: inline-block;
	padding: 0 0.5em;
	font-size: 3em;
	border: 1px solid green;
	color: green;
}

.kpi .error {
	display: inline-block;
	font-size: 3em;
	border: 1px solid red;
	color: red;
}

.area-btn{
	height: 5em;
	width: 5em;
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
	position: fixed;
	margin-top: 15em;
	margin-left: 45em;
}
.add-btn{
	font-size: 4em;
	padding: 23px;
	color: #424242;
}

.area-btn:hover {
	background-color: #EEEEEE;
	border-color: #EEEEEE;
	cursor: pointer;
}

/*.menu {*/
	/*width: 300px;*/
	/*height: 100%;*/
	/*background: #BDBDBD;*/
	/*padding-left: 10px;*/
	/*position: fixed;*/
/*}*/

/*@media (max-width: 960px) {*/
	/*.menu {*/
		/*display: none;*/
	/*}*/
/*}*/
/*.menu-elements {*/
	/*color: #FAFAFA;*/
	/*list-style-type: none;*/
	/*font-size: 1.5em;*/
/*}*/

/*.main {*/
	/*width: auto;*/
	/*height: auto;*/
	/*color: #FAFAFA;*/
/*}*/

/*.title {*/
	/*font-family: "Times New Roman", Times, serif;*/
	/*font-size: 50px;*/
	/*font-weight:normal;*/
	/*padding: 45px;*/
/*}*/

/*.area {*/
	/*font-size: 30px;*/
	/*margin-top: 40px;*/
	/*margin-left: 50px;*/
	/*width: 100%;*/
/*}*/

/*.area-elements {*/
	/*border: 2px solid #FAFAFA;*/
	/*padding: 10px 50px 10px;*/
	/*font-weight: normal;*/
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
/*}*/
