
html, body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans;
}

body {
	background-color: #424242;
}

h1 {
	font-family: serif;
	font-size: 2.5em;
  font-weight: normal;
  display: inline;
}

.container{
  padding: 0;
  margin: 0;
	min-height: 900px;
	color: white;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
	height: 100%;
  width: 300px;
	background-color: #BDBDBD;
	min-height: 1080px;
}

.menu-elements {
	list-style-type: none;
	color: #FAFAFA;
  font-size: 2em;
  list-style-type: none;
}

.main{
  margin-left: 300px;
}

.tittle{
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.areas {
  margin-top: 50px;
  padding-left: 30px;
  height: 100px;
  white-space: nowrap;
}

.area {
	border: 2px solid white;
	margin-right: 1em;
	padding: 0.5em 2em;
  font-size: 1.2em;
  display: inline-block;
  max-width: 250px;
  min-width: 120px;
	width: 15%;
	cursor: pointer;
}

.dashboard {
	margin-left: 30px;
}

.kpi{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.kpi-contain {
	background-color: black;
	padding: 1em;
	margin: .5em;
	
}


.kpi .name {
	font-size: 2em;
}

.kpi .value {
	font-size: 4em;
}


.success {
	display: inline-block;
	padding: 0 0.5em;
	font-size: 3em;
	border: 1px solid green;
	color: green;
}

.error {
	display: inline-block;
	font-size: 3em;
	padding: 0 0.5em;
	border: 1px solid red;
	color: red;
}

.add-btn{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom:50px;
	margin-right: 50px;
	font-size: 6em;
	color: white;
	cursor: pointer;

}

@media (max-width: 1000px) {
	.areas {
		overflow-x: auto;
	}
}
@media (max-width: 768px) {
	.menu {
		display: none;
  }
  .main{
    margin-left: 50px;
  }

}